body {
    margin: 0; /* Remove default margin */
    font-family: 'Inter', sans-serif; /* Set font to Inter */
}

.site-header {
    height: 102.49px;          /* Set height */
}

.logo {
    font-size: 36px;          /* Logo font size */
}

.clinic-name {
    color: #ffffff;           
    font-size: 12px;          
    margin-left: 15px;        
    margin-top: 10px;         
}
